﻿body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
    font-weight: 700;
}


.voffset { margin-top: 2px;}
.voffset1 { margin-top: 5px;}
.voffset2 { margin-top: 10px;}
.voffset3 { margin-top: 20px;}
.voffset4 { margin-top: 40px;}
.voffset5 { margin-top: 80px;}


/* bootstrap overrides*/

.navbar-inverse {
    background-color: #ff5352;
    border-color: #ff4342;
}

.form-control:focus {
    border-color: #2196f3;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: rgba(239, 67, 66, 0.30196078431372547);
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-brand {
    font-weight: 700;
}

body {
    font-size: 17px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Lato,"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 17px;
    padding: 20px 15px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}

.form-control:focus {
    border-color: #2196f3;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn {
    /*padding: 7px 20px;
    font-size: 17px;*/
    -ms-border-radius: 9px;
    border-radius: 9px;
}

/*Page-level styles*/

.gigs {
    list-style: none;
}

.gigs > li {
    margin-bottom: 30px;
    position: relative;
}

.gigs >li .date {
    background: red;
    width: 60px;
    text-align: center;
    color: white;
    border-radius: 8px;
}

.gigs > li .date .month {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 6px;
}

.gigs > li .date .day {
    background: #f7f7f7;
    color: #333;
    padding: 6px 12px;
    font-size: 20px;
}

.gigs > li .details {
    position: absolute;
    top: 0;
    left: 70px;
    /*border: 1px solid red;*/
}

.gigs > li .details .artist {
    font-weight: bold;
    display: block;
}

.gigs > li .details .genre {
    font-size: 15px;
}

