﻿@model IEnumerable<GigHubApplication.Models.Gig>

@{
    ViewBag.Title = "Mine Gigs";
}

<h2>My Upcoming Gigs</h2>

<ul class="gigs voffset4">
    @foreach (var gig in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @gig.Genre.Name
                </span>
                <span class="genre">
                    @gig.Genre.Name
                </span>
            </div>
        </li>
    }
</ul>